main {
    padding-bottom: 80px;
}
body {
    position: relative;
}
.animate{
    height: 5vh;
    display: block;
    position: absolute;
    top: 30px;
    opacity: 0;
}

/*
.animate {
    top: -105px;
    position: relative;
    text-align: right;
}
*/

.jumbotron {
    background-color: #2196f3;
    color: #fff;
    margin-bottom: 2rem;
    padding: 0.4rem 1rem;
    text-align: center;
}

.Header > p, .Header > h1 {
    height: 100px;
    text-align: center;
    background-color: #2196f3;
    padding-top=20px;
    color:white;
    top: 50px;
    line-height: 100px;
    font-size: 22px;
   }

.homepage_link:hover{
    text-decoration: none;
}

body div{
}

.row{
    margin-top: 00px;
}

@media (min-width: 992px){
     .row.margin-large{
        margin-left: -100px;
        margin-right: -100px;
    }

    .margin-large > .col-md-4  {
        padding-right: 100px;
        padding-left: 100px;
    }
}

#slider{
    margin-top: 50px;
}

.card {
    margin-bottom: 35px;
}

.card p{
    font-size: large;
}

.card-img{
    max-width: 100%;
}

.carousel .carousel-item {
  height: 855px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 855px;
}
.center {
    margin: 0 auto;
    width: 80%;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1920px;
}

.footer-copyright {
    bottom: 0;
    background-color: #477bffd6;
    color: #fff;
}

.footer-copyright:hover {
    background-color: #3f51b5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

